.fullContainer {
  margin: 0;
  padding: 0;
  height: 100svh;
  overflow: hidden;
  font-family: "Work Sans", sans-serif;
}

.container {
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  text-align: center;
  height: 55vh;
  padding: 6% 3vw;
}

.card {
  width: 100%;
}

@media (max-width: 768px) {
  .card {
    width: 100%;
    height: 72vh;
    border-radius: 10px;
    box-shadow: 0 5px 10px -3px rgb(0 0 0 / 80%);
  }
  .container {
    height: 70svh;
  }
  .containerLogin {
    margin: 40px 8px;
    height: 70svh;
  }
}

@media (max-width: 600px) {
  .card {
    width: 100%;
    height: 70vh;
    border-radius: 10px;
    box-shadow: 0 5px 10px -3px rgb(0 0 0 / 80%);
    padding: 0;
  }
  .container {
    height: 60vh;
    margin: 0;
    padding: 0;
  }
  .containerLogin {
    margin: 40px 8px;
    height: 70svh;
  }
}

@media (max-height: 500px) {
  .fullContainer {
    overflow: hidden;
    font-family: "Work Sans", sans-serif;
  }

  .container {
    margin: 0;
  }
  .card {
    height: 90svh;
  }
  .containerLogin {
    margin: 40px 8px;
    height: 70svh;
  }
}

@media (max-height: 700px) {
  .fullContainer {
    overflow: hidden;
    font-family: "Work Sans", sans-serif;
  }
  .container {
    margin: 0;
    padding: 2vh 3vw;
    height: 70%;
  }
}
